/*** Материал подготовлен сайтом roothelp.ru ***/

#content{
	width: 200px;
	margin:50px auto 0px;
}


/*** Увеличение картинки при наведении курсора | JavaScript  ***/

p{
	text-align: center;
}

img{
	border-radius: 100%;
	border: 1px solid #000000;
	margin-top: 10px;
	margin-left: 50px;
}


