@font-face {
  font-family: 'IstokWeb-Regular';
  src: url('../fonts/IstokWebRegular/IstokWeb-Regular.eot');
  src: url('../fonts/IstokWebRegular/IstokWeb-Regular.eot?#iefix')format('embedded-opentype'),
  url('../fonts/IstokWebRegular/IstokWeb-Regular.woff') format('woff'),
  url('../fonts/IstokWebRegular/IstokWeb-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family:'Roboto-Thin';
  src:url('../fonts/Roboto-Thin.eot?') format('eot'),
  url('../fonts/Roboto-Thin.woff') format('woff'),
  url('../fonts/Roboto-Thin.ttf') format('truetype'),
  url('../fonts/Roboto-Thin.svg#Roboto-Thin') format('svg');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('../fonts/Roboto-Light.eot');
  src: local('☺'), url('../fonts/Roboto-Light.woff') format('woff'),
  url('../fonts/Roboto-Light.ttf') format('truetype'), 
  url('../fonts/Roboto-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
} 