@colortext:#bd8e23;
@colorwhite:#fff;
@colorfoter:#857170;
@colortrif:#f9f6f6;


.font-basic(@_font: 'IstokWebRegula', @_size: 14px, @_weight: normal, @_color: @colortext, @_upper: none, @_align: none, @_line: 1, @_margin: 14px){
  font-family: @_font;
  font-size: @_size;
  font-weight: @_weight;
  color: @_color;
  text-transform: @_upper;
  text-align: @_align;
  line-height: @_line;
  margin: @_margin;
}
.pozicia{
  width: 270px;
  height: 420px;
  margin: 11px;
}
.shad{
  box-shadow: 0 0 40px rgba(0,0,0,0.5);
}