@font-face {
  font-family: 'Font_Awersome';
  src: url('../fonts/fontawesome-webfont.eot');
  src: local('☺'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {font-family:"Raleway ExtraBold";
src:url("../Raleway-ExtraBold.eot?") format("eot"),
url("../Raleway-ExtraBold.woff") format("woff"),
url("../Raleway-ExtraBold.ttf") format("truetype"),
url("../Raleway-ExtraBold.svg#Raleway-ExtraBold") format("svg");
font-weight:normal;font-style:normal;}

@font-face {font-family:"Raleway Medium";
src:url("../Raleway-Medium.eot?") format("eot"),
url("../Raleway-Medium.woff") format("woff"),
url("../Raleway-Medium.ttf") format("truetype"),
url("../Raleway-Medium.svg#Raleway-Medium") format("svg");
font-weight:normal;font-style:normal;}

@font-face {
	font-family: 'Conv_Montserrat-Light';
	src: url('../fonts/Montserrat-Light.eot');
	src: local('вє'), url('../fonts/Montserrat-Light.woff') format('woff'), url('../fonts/Montserrat-Light.ttf') format('truetype'), url('../fonts/Montserrat-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'Conv_Raleway-SemiBold';
  src: url('../fonts/Raleway-SemiBold.eot');
  src: local('вє'), url('../fonts/Raleway-SemiBold.woff') format('woff'), url('../fonts/Raleway-SemiBold.ttf') format('truetype'), url('../fonts/Raleway-SemiBold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
body{
	width: 100%;
	height: 100%;
}

.baner {
	background: url(../img/city.png);
	height: 573px;
	 .top{
		p{
	color: #bd8e23;
}
		background-color: #201713;
		
		}

}

/*}
.baner .top{
	background-color: #201713;
}
.baner .top p{
	color: #bd8e23;
}
.baner .top .lm{
	float: left;
	margin: 18px;
}
.baner .top .kont{
	float: none;
	margin: 14px;
	font-size: 14px;
}
.baner .top .lg{
	text-align: center;
	padding: 10px;
}
.baner .top .tel{
	float: left;
	margin: 15px;
	font-size: 24px;
}
.baner .top .it{
	float: left;
	margin: 12px;
}
.baner .navbar-nav a {
	color: #ffffff;
}

.navbar-default {
    border: none;
    background: url(../img/pixel.png);
    /*opacity: 0.5;*/
}
.navbar-default .navbar-nav>li>a {
	font-size: 16px;
    color: #ffffff;
	font-family: Raleway Medium;}
.navbar-default .navbar-nav>li>a:hover {
    color: #bd8e23;}
.navbar-nav>li>.dropdown-menu{
	background: #000000;
}
.navbar-nav>li>.dropdown-menu>li>a:hover{
	background: #000000;
	color: #c59423;
}
.navbar-nav>li>.dropdown-menu>li{
	padding: 0px;
	margin: 0px 97px 2px 6px;
}*/
/*.baner .nav li{
	padding: 13px;
	margin: 0px 30px;
}
.baner .nav a{
	padding: 5px;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #bd8e23;
    background: none;

}

.baner p{
	font-size: 16px;
	font-family: Conv_Montserrat-Light;
}

.baner h1{
	font-size: 72px;
	color: #c59423;
	margin-top: 60px;
}
.baner .white{
	color: #fff;
	margin-top: 0px;
}
.menu{
	background-color: #f9f6f6;
}
.menu h2{
	font-size: 36px;
	margin-top: 60px;
}
.menu .btn {
	background: url(../img/poluchit.png);
	width: 270px;
    height: 420px;
    margin: 11px;
    box-shadow: 0 0 40px rgba(0,0,0,0.5);
}
.modal-content{
	width: 307px;
}
.menu .btn-1{
	background: url(../img/sozdat.png);
	width: 270px;
    height: 420px;
    margin: 11px;
    box-shadow: 0 0 40px rgba(0,0,0,0.5);
}
.menu .btn-2{
	background: url(../img/help.png);
	width: 270px;
    height: 420px;
    margin: 11px;
    box-shadow: 0 0 40px rgba(0,0,0,0.5);
}
.menu .btn-3{
	background: url(../img/call-back.png);
	width: 270px;
    height: 420px;
    margin: 11px;
    box-shadow: 0 0 40px rgba(0,0,0,0.5);
}
.servis {
	background: url(../img/services.png);
}
.servis h3{
	text-align: center;
	color: #f9f6f6;
	font-size: 36px;
}
.servis .brok img{
	margin-left: 100px;
}
.servis .brok p{
	text-align: center;
	color: #fff;
}*/