
@import "mixing";
@import "fonts";



.baner {
	background: url(../img/city.png);
	/*height: 573px;*/
	.top{		
		background-color: #201713;		
		.lm{
			float: left;
			margin: 18px;
		}
		.kont{
			.font-basic(@_font: 'IstokWeb-Regular', @_size: 14px, @_weight: normal, @_color: @colortext, @_upper: none, @_align: none, @_line: none, @_margin: 14px);
			float: none;			
		}
		
			.lg{
				text-align: center;
				padding: 10px;
				
			}
			.tel{
				.font-basic(@_font: 'IstokWeb-Regular', @_size: 24px, @_weight: normal, @_color: @colortext, @_upper: none, @_align: none, @_line: none, @_margin: 16px);
				float: left;					
			}
			.it{
				float: left;
				margin: 12px;
			}
		}
		.navbar-default {
			border: none;
			background: url(../img/pixel.png);
			margin: 0px auto 10px auto;
			.collapse{
				margin: 3px 62px;
				.nav{
					li{
						padding: 0px;
						margin: 3px 37px 2px 6px;
						a{
							padding: 10px;
							.font-basic(@_font: 'IstokWebRegula', @_size: 16px, @_weight: normal, @_color: @colorwhite, @_upper: none, @_align: none, @_line: none, @_margin: none);
							&:hover{
								color: @colortext;
							}
						}
					}
					.open{
						border-bottom: 1px solid #c59423;
						.dropdown-toggle{
							background: none;
							color: #c59423;

						}
						.dropdown-menu{
							background-color: #000;
							li{
								a{  
									color: @colorwhite;
									padding: 4px 2px 3px 24px;
									&:hover{
										color: #c59423;
										background: none;
									}
								}
							}
							/*.navbar{
								margin-bottom: 0;
							}*/
						}
					}
				}
			}		
		}
		h1{
			.font-basic(@_font: 'Roboto-Thin', @_size: 72px, @_weight: normal, @_color: @colortext, @_upper: none, @_align: none, @_line: none, @_margin: 60px 0px 29px);			
		}
		.white{
			color: @colorwhite;
			margin: 0 0 153px;
		}
	}
.menu{
		background-color: #f9f6f6;
		height: 1400px;
		h2{ 
			.font-basic(@_font: 'Roboto-Light', @_size: 36px, @_weight: normal, @_color: #404040, @_upper: none, @_align: none, @_line: none, @_margin: 60px 0 36px 100px);
		}
		.btn-4 {
			background: url(../img/poluchit.png) no-repeat;
			.pozicia();
			.shad();
			p{
				.font-basic(@_font: 'Roboto-Light', @_size: 24px, @_weight: normal, @_color: @colorwhite, @_upper: none, @_align: center, @_line: none, @_margin: 30px 0px 10px);		
			}
			span{
				.font-basic(@_font: 'IstokWeb-Regular', @_size: 16px, @_weight: normal, @_color: @colorwhite, @_upper: none, @_align: center, @_line: none, @_margin: 10px);
				float: left;
			}
		}
		.btn-1{
			background: url(../img/sozdat.png) no-repeat;
			.pozicia();
			.shad();
			p{
				.font-basic(@_font: 'Roboto-Light', @_size: 24px, @_weight: normal, @_color: @colorwhite, @_upper: none, @_align: center, @_line: none, @_margin: 30px 0px 10px);		
			}
			span{
				.font-basic(@_font: 'IstokWeb-Regular', @_size: 16px, @_weight: normal, @_color: @colorwhite, @_upper: none, @_align: center, @_line: none, @_margin: 10px);
				float: left;
			}
		}
		.btn-2{
			background: url(../img/help.png) no-repeat;
			.pozicia();
			.shad();
			p{
				.font-basic(@_font: 'Roboto-Light', @_size: 24px, @_weight: normal, @_color: @colorwhite, @_upper: none, @_align: center, @_line: none, @_margin: 30px 0px 10px);		
			}
			span{
				.font-basic(@_font: 'IstokWeb-Regular', @_size: 16px, @_weight: normal, @_color: @colorwhite, @_upper: none, @_align: center, @_line: none, @_margin: 10px);
				float: left;
			}
		}
		.btn-3{
			background: url(../img/call-back.png) no-repeat;
			.pozicia();
			.shad();
			p{
				.font-basic(@_font: 'Roboto-Light', @_size: 24px, @_weight: normal, @_color: @colorwhite, @_upper: none, @_align: center, @_line: none, @_margin: 315px 20px 10px);		
			}
		}
		.glob{
			.font-basic(@_font: 'Roboto-Light', @_size: 16px, @_weight: normal, @_color: #404040, @_upper: none, @_align: none, @_line: none, @_margin: 37px 0px);
		}
		.url{
			margin-bottom: 100px;
			z-index: 0;
			-webkit-transform: scale(1,1);
			-webkit-transition-timing-function: ease-out;
			-webkit-transition-duration: 550ms;
			-moz-transform: scale(1,1);
			-moz-transition-timing-function: ease-out;
			-moz-transition-duration: 550ms;
			img{
				max-width: 365px;
				max-height: 365px;
			}
			&:hover{
				z-index: 1;
				-webkit-transform: scale(1.15,1.15);
				-webkit-transition-timing-function: ease-out;
				-webkit-transition-duration: 550ms;
				-moz-transform: scale(1.15,1.15);
				-moz-transition-timing-function: ease-out;
				-moz-transition-duration: 550ms;
			}
			&:hover img{
				min-width: 445px;
				min-height: 445px;
				box-shadow: 0 0 40px rgba(0,0,0,0.5);
			}  
			p{
				position: absolute;
				.font-basic(@_font: 'Roboto-Light', @_size: 30px, @_weight: normal, @_color: @colorwhite, @_upper: none, @_align: center, @_line: none, @_margin: 35px 109px);
			}
			.info{
				.font-basic(@_font: 'Roboto-Light', @_size: 30px, @_weight: normal, @_color: @colorwhite, @_upper: none, @_align: center, @_line: none, @_margin: 35px);
			}
		}
	}
.servis {
		background: url(../img/services.png);
		h3{
			.font-basic(@_font: 'Roboto-Light', @_size: 36px, @_weight: normal, @_color: #f9f6f6, @_upper: none, @_align: center, @_line: none, @_margin: 70px);
		}
		.brok {
			text-align: center;
			img{
				margin-bottom: 30px;
				height: 75px;				
			}
			p{
				.font-basic(@_font: 'Roboto-Light', @_size: 24px, @_weight: normal, @_color: @colorwhite, @_upper: none, @_align: center, @_line: none, @_margin: 0px 0px 37px);
				
			}
		}
	}
.container-fluid{
	background-color: #f9f6f6;
	.celi{
		margin-bottom: 8%;
		.foto{
			background-image: url(../img/objectives.png);
			background-repeat: no-repeat;
			background-position: right;
			padding : 50px;	 
			img{
				margin-left: -32px;
			}
		}
		h1{
			.font-basic(@_font: 'Roboto-Light', @_size: 36px, @_weight: normal, @_color: #404040, @_upper: none, @_align: center, @_line: none, @_margin: 35px);
		}
		p{
			.font-basic(@_font: 'Roboto-Light', @_size: 16px, @_weight: normal, @_color: #404040, @_upper: none, @_align: none, @_line: none, @_margin: 17px 0px);
		}
	}
}	
.footer{
	background-color: #2d1b1a;
	.log-down{
		margin-top: 28px;
		img{
			float: left;
			margin-right: 22px;
		}
		p{
			.font-basic(@_font: 'IstokWeb-Regular', @_size: 14px, @_weight: normal, @_color: @colorfoter, @_upper: none, @_align: none, @_line: none, @_margin: none);
		}
	}
	.down-text{
		margin-top: 28px;
		p{
			.font-basic(@_font: 'IstokWeb-Regular', @_size: 16px, @_weight: normal, @_color: @colorfoter, @_upper: none, @_align: none, @_line: none, @_margin: none);
		}
	}
	.down-tel{
		margin-top: 20px;
		img{
			float: left;
			margin-right: 22px;
		}
		p{
			.font-basic(@_font: 'IstokWeb-Regular', @_size: 24px, @_weight: normal, @_color: @colorfoter, @_upper: none, @_align: none, @_line: none, @_margin: none);
		}
	}
	.down-menu{
		padding-left: 4px;
		margin-top: 20px;
		a{
			.font-basic(@_font: 'IstokWeb-Regular', @_size: 16px, @_weight: normal, @_color: @colorfoter, @_upper: none, @_align: none, @_line: none, @_margin: none);
			padding: 10px;
		&:first-child{
			margin-left: 96px
		}
		}
		
	}
	.down-email{
		margin-top: 20px;
		padding: 0px;
		img{
			float: left;
			margin-right: 3px;
		}
		p{
			float: left;
			.font-basic(@_font: 'IstokWeb-Regular', @_size: 16px, @_weight: normal, @_color: @colorfoter, @_upper: none, @_align: none, @_line: none, @_margin: 0px 5px);
		}
		a{
			float: left;
			.font-basic(@_font: 'IstokWeb-Regular', @_size: 16px, @_weight: normal, @_color: @colorfoter, @_upper: none, @_align: none, @_line: none, @_margin: 0px 5px);
		}
	}
}	
.loginmodal-container {
	padding: 30px;
	max-width: 400px;
	width: 100% !important;
	background: url(../img/call-back-bagrou.png);
	margin: 0 auto;
	border-radius: 8px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	font-family: Roboto-Light;
	h1{
		.font-basic(@_font: 'Roboto-Light', @_size: 24px, @_weight: normal, @_color: #030303, @_upper: none, @_align: center, @_line: none, @_margin: none);
	}
	input[type=submit] {
		width: 100%;
		display: block;
		margin-bottom: 10px;
		position: relative;
		background-color: #ce9b25;
		border-radius: 8px;
		padding: 10px;
	}
	input[type=text], input[type=password] {
		height: 44px;
		width: 100%;
		margin-bottom: 10px;
		-webkit-appearance: none;
		background: #fff;
		border-radius: 8px;
		border: 1px solid #d9d9d9;
		border-top: 1px solid #c0c0c0;
		.font-basic(@_font: 'IstokWeb-Regular', @_size: 16px, @_weight: normal, @_color: @colorfoter, @_upper: none, @_align: none, @_line: none, @_margin: none);
		padding: 0 8px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
}




@media only screen and (min-width: 992px) and (max-width: 1200px){  
	.baner{
		.top{ 
			.tel{
				margin-left: 10px;
			}
			.it{
				margin-right: 2px;
			}
		}
		h1{
			margin-left: 164px;
		}
		.white{
			margin: 0px;
			/*text-align: center;		*/
			/*margin-left: 111px;*/
		}
	}
	.menu{
		height: 1220px;
		h2{
			/*text-align: center;*/
			margin: 38px;
		}
		.btn-1, .btn-2, .btn-3, .btn-4{
			width: 22%;
		}
		.url{
			img{
				max-width: 308px;
			}
			&:hover img{
				min-width: 245px;
				min-height: 245px;
				box-shadow: 0 0 40px rgba(0,0,0,0.5);
			}
		}
	}
	.footer{
		.down-tel{
			p{
				font-size: 20px;
			}
		}
		.down-menu{
			a{
				&:first-child{
					margin-left: 0px;
				}
			}
		}
		.down-email{
			p{
				font-size: 13px;
			}
			a{
				font-size: 13px;
			}
		}
	}
}
@media only screen and (min-width: 768px) and (max-width: 992px){
	.baner{
		.top{
			.kont{

				font-size: 11px;

			}
			.tel{
				font-size: 18px;
				margin: 13px;
			}
			.it{
				margin: 8px 0px 0px; 
			}
		}
		.navbar-default{
			.collapse{
				margin: 3px 15px 2px 6px;
			} 
		}
	}
	.menu{
		height: 1672px;
		h2{
			text-align: center;
			margin: 60px 0 10px 0px;
		}
		.btn-1, .btn-2, .btn-3, .btn-4{
			margin: 48px;
		}
		.url{
			p{
				font-size: 21px;
				margin: 35px 54px;
			}
			img{
				max-width: 273px;
				max-height: 229px;
			}
			&:hover img{
				min-width: 245px;
				min-height: 245px;
				box-shadow: 0 0 40px rgba(0,0,0,0.5);
			}
			.info{
				font-size: 22px;
			}
		}
	}
	.footer{
		.log-down{
			p{
				font-size: 10px;
			}
		}
		.down-text{
			p{
				font-size: 11px;
			}
		}
		.down-menu{
			margin-top: 1px;
			padding-left: 0px;
			a{
				font-size: 12px;
				padding: 2px;
				&:first-child{
					margin-left: 0px;
				}
			}
		}
		.down-email{
			margin-top: 5px;
			p{
				font-size: 11px;
			}
			a{
				font-size: 11px;
			}
		}
	}
}
@media only screen and (min-width: 460px) and (max-width: 768px){
	.baner{
		.top{
			.kont{
				font-size: 14px;
			}
			.tel{
				margin-left: 20%;
			}
		}
		h1{
			font-size: 42px;
			text-align: center;
		}
	}
	.menu{
		height: 764%;
		overflow: hidden;
		h2{
			margin: 60px 0 -41px 104px;
		}
		.btn-1, .btn-2, .btn-3, .btn-4{
			margin: 15% 0% 5% 22%;
		}
		.glob{			
			margin: 35px 0px 10px 43px;
		}
		.url{
			margin: 2% 0% 2% 8%;
		&:hover img{
				min-width: 245px;
				min-height: 245px;
				box-shadow: 0 0 40px rgba(0,0,0,0.5);
			}
		}
	}
	.footer{
		.log-down{
			img{
				margin: 0px 8px 0px 28px;
			}
			p{
				margin-top: 6px;
				font-size: 10px;
			}
		}
		.down-text{
			margin-top: 9px;
			p{
				font-size: 14px;
				margin: 0px 0px 10px 35px;
			}
		}
		.down-tel {
			margin-top: 0px;
			margin-left: 16%;
		}
		.down-menu{
			padding-left: 0px; 
			margin-top: 0px; 
			a{
				font-size: 13px;
				padding: 5px;
				&:first-child{
					margin-left: 28px;
				}
			}
		}
		.down-email {

			margin: 2% 0% 1% 9%;
		}
	}
}
@media only screen and (min-width: 320px) and (max-width: 460px){
	.baner{
		.top{
			.kont{
				font-size: 10px;
			}
			.tel{
				margin-left: 3%;
			}
		}
		.navbar-default{
			.collapse{
			.nav{
			.open{
				margin-right: -21px;
				opacity: 0.8;
			}	
			}	
			}
			} 
		h1{
			font-size: 42px;
			text-align: center;
		}
	}
	.menu{
		height: 708%;
		overflow: hidden;
		h2{
			margin: 60px 0 -41px 28px;
		}
		.btn-1, .btn-2, .btn-3, .btn-4{
			margin: 15% 0% 5% 10%;
		}		
		.glob{			
			margin: 35px 0px 10px 5px;
		}
		.url{
			margin: 2% 0% 2% 2%;
			p{
				margin: 35px 76px;
			}
			img{
				max-width: 287px;
			}
			&:hover img{
				min-width: 200px;
				min-height: 200px;
				box-shadow: 0 0 40px rgba(0,0,0,0.5);
			}
		}
	}
	.footer{
		.log-down{
			img{
				margin: 0px 8px 0px 10px;
			}
			p{
				margin-top: 6px;
				font-size: 10px;
			}
		}
		.down-text{
			margin-top: 9px;
			p{
				font-size: 14px;
				margin: 0px 0px 10px 6px;
			}
		}
		.down-tel {
			margin-top: 0px;
			margin-left: 2%;
		}
		.down-menu{
			padding-left: 0px; 
			margin-top: 0px; 
			a{
				font-size: 10px;
				padding: 0px;
				&:first-child{
					margin-left: 10px;
				}
			}
		}
		.down-email {

			margin: 2% 0% 1% 9%;
		}
	}
}








